@font-face {
    font-family: 'P22 Johnston Underground';
    src: url('font/P22 Johnston Underground Regular.ttf') format('truetype');
}

.name{
    color: #FFFFFF;
    font-size: 50px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
.tagline{
    color: #FFFFFF;
    font-size: 3em;
    font-family: "P22 Johnston Underground", sans-serif;
}
.inscription{
    color: #FFFFFF;
    font-size: 230%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
.text_game>p{
    font-size: 18px;
    text-align: center;
    font-family:'Work Sans', sans-serif;
}
.contenu h2{
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
}
.contenu_flex p{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}
.text_fonctio_2>p{
    text-align: center;
}
.blue_band>h2{
    text-align: center;
    font-size: 60px;
    color: #FFF;
    font-family: "P22 Johnston Underground", sans-serif;
}
.blue_band h3 {
    color: #FFF;
    font-family: "P22 Johnston Underground", sans-serif;
    font-size: 40px;
}
.blue_band p{
    color: #FFF;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
.description_mate>p{
    width: 18%;
    text-align: center;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
}
.mate>h1{
    font-size: 60px;
    text-align: center;
    font-family: "P22 Johnston Underground", sans-serif;
}
.mate h3{
    font-size: 35px;
    font-family: "P22 Johnston Underground", sans-serif;
}
.mate p{
    font-size: 20px;
}
.inscription_v2>h1{
    font-size: 4em;
    color: #FFFFFF;
    text-align: center;
    font-family: "P22 Johnston Underground", sans-serif;
}
.down button.first_button{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
}
.down input.first_mail{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    text-align: center;
}
.down_2 button.scnd_button{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
}
.down_2 input.scnd_mail{
    font-family: "Work Sans", sans-serif;
    font-size: 30px;
    text-align: center;
}
.under_page p{
    font-size: 25px;
    font-family: "Work Sans", sans-serif;
}
.under_page a{
    font-size: 25px;
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    color: #000;
}
.under_page a:hover{
    color: #b4a4ff;
}




