<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact nous si tu as un problème!</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/typo_couleur.css">
    <link rel="stylesheet" href="../css/animation.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="inscription big_header">
    <div class="flex_header">
        <div class="title_img">
            <object data="../css/images_interfaces/logo_alchimate.svg" type="image/svg+xml"></object>
            <h1>Alchimate</h1>
        </div>
        <div class="retour_site_button">
            <a href="recherche_joueur_alchimate.html">
                <button>Retour sur le site</button>
            </a>
        </div>
    </div>
</header>
<main class="contact">
    <h1>Tu veux nous contacter ?</h1>
    <form action="" class="send_objectif">
        <input type="text" placeholder="    Qu'as-tu à nous dire ?">
        <input type="email" placeholder="    Ton adresse mail">

    </form>
    <a href="#" class="send_button">
        <button class="send">Envoyer</button>
    </a>
</main>
</body>
</html>