<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Alchimate - Information du joueur</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/typo_couleur.css">
    <link rel="stylesheet" href="../css/animation.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="info_joueur big_header">
    <div class="flex_header">
        <div class="title_img">
            <object data="../css/images_interfaces/logo_alchimate.svg" type="image/svg+xml"></object>
            <h1>Alchimate</h1>
        </div>
    </div>
</header>
<main class="info_joueur">
    <h1 class="titre_info_joueur">Remplissez vos informations joueur</h1>
    <h2 class="requete_info_joueur">Je joue à :</h2>
    <div class="main_flex_info_joueur">
        <div class="jeux grandeur_inf">
            <form action="">
                <label class="checkbox visible_point">
                    <input class="game_lol" type="checkbox">
                    <span class="colorized"></span>
                    League Of Legend
                </label>
                <input class="pseudo" type="text" placeholder="Ton pseudo en jeu">
            </form>
            <div class="critere">
                <div class="role">
                    <h3 class="game_role">Rôle</h3>
                    <div class="flex_game">
                        <form action="" class="role_ingame_form">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                ADC
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Support
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Midlane
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Toplane
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Jungle
                            </label>
                        </form>
                    </div>
                </div>
                <div class="division">
                    <h3 class="level">Division</h3>
                    <div class="flex_game">
                        <form action="" class="role_ingame_form">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Bronze
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Silver
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Gold
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Platinium
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Diamond
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Master
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Challenger
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="jeux grandeur_inf">
            <label class="checkbox visible_point">
                <input class="game_ow" type="checkbox">
                <span class="colorized"></span>
                Overwatch
            </label>
            <input class="pseudo" type="text" placeholder="Ton pseudo en jeu">
            <div class="critere">
                <div class="role">
                    <h3 class="game_role">Rôle</h3>
                    <div class="flex_game">
                        <form action="" class="role_ingame_form">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                DPS
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Tank
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Support
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Healer
                            </label>
                        </form>
                    </div>
                </div>
                <div class="division">
                    <h3 class="level">Division</h3>
                    <div class="flex_game">
                        <form action="" class="role_ingame_form">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Bronze
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Silver
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Gold
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Platinium
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Diamond
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Master
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Grand Master
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="jeux grandeur_inf">
            <label class="checkbox visible_point">
                <input class="game_rocket" type="checkbox">
                <span class="colorized"></span>
                Rocket League
            </label>
            <input class="pseudo" type="text" placeholder="Ton pseudo en jeu">
            <div class="critere">
                <div class="role">
                    <h3 class="game_role">Rôle</h3>
                    <div class="flex_game">
                        <form action="" class="role_ingame_form">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Gardien
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Attaquant
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Passeur
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Aérien
                            </label>
                        </form>
                    </div>
                </div>
                <div class="division">
                    <h3 class="level">Division</h3>
                    <div class="flex_game">
                        <form action="" class="role_ingame_form">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Unranked
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Bronze
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Silver
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Gold
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Platinium
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Diamond
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Champion
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Grand Champion
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="jeux grandeur_inf">
            <label class="checkbox visible_point">
                <input class="game_fortnite" type="checkbox">
                <span class="colorized"></span>
                Fortnite
            </label>
            <input class="pseudo" type="text" placeholder="Ton pseudo en jeu">
            <div class="critere">
                <div class="role">
                    <h3 class="game_role">Rôle</h3>
                    <div class="flex_game">
                        <form action="" class="role_ingame_form">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Rifler
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Sniper
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Rocketer
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Healer
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="jeux grandeur_inf">
            <label class="checkbox visible_point">
                <input class="game_csgo" type="checkbox">
                <span class="colorized"></span>
                Counter Strike : Global Offensive
            </label>
            <input class="pseudo" type="text" placeholder="Ton pseudo en jeu">
            <div class="critere">
                <div class="role">
                    <h3 class="game_role">Rôle</h3>
                    <div class="flex_game">
                        <form action="" class="role_ingame_form">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Rifler
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Sniper
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Open-Frager
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Pick-info
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Rôdeur
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Leader
                            </label>
                        </form>
                    </div>
                </div>
                <div class="division">
                    <h3 class="level">Division</h3>
                    <div class="flex_game">
                        <form action="" class="role_ingame_form">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Silver 1
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Silver 2
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Silver 3
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Silver 4
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Silver 5
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Silver 6
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Nova 1
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Nova 2
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Nova 3
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Nova 4
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Master Guardian 1
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Master Guardian 2
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Master Guariden Elite
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Sheriff
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Eagle
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Legendary Eagle
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Supreme
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Global Elite
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="jeux grandeur_inf">
            <label class="checkbox visible_point">
                <input class="game_r6s" type="checkbox">
                <span class="colorized"></span>
                Tom Clancy's : Rainbow Six Siege
            </label>
            <input class="pseudo" type="text" placeholder="Ton pseudo en jeu">
            <div class="critere">
                <div class="role">
                    <h3 class="game_role">Rôle</h3>
                    <div class="flex_game">
                        <form action="" class="role_ingame_form">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Game Leader
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Entry Frager
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Flanker
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Support
                            </label>
                        </form>
                    </div>
                </div>
                <div class="division">
                    <h3 class="level">Division</h3>
                    <div class="flex_game">
                        <form action="" class="role_ingame_form">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Cooper
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Bronze
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Silver
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Gold
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Platinium
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="colorized"></span>
                                Diamond
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a href="recherche_joueur_alchimate.html" class="link_info_joueur">
            <button class="connexion">Confirmer</button>
        </a>
    </div>
</main>


<script>
    (function () {
        "use strict";
        var listeCheck = document.querySelectorAll('.jeux');
        console.log(listeCheck);

        function accordeonEvent() {
            console.log(this);
            var element = document.querySelector('.grandeur_inf');
            if (element) {
                element.classList.remove("grandeur_inf");
                element.classList.add("grandeur_sup");
            }
            if (element !== this) {
                element.classList.remove("grandeur_sup");
                element.classList.add("grandeur_inf");
            }

        }

        for (var i = 0; i < listeCheck.length; i++) {
            console.log(listeCheck[i]);
            var unCheck = listeCheck[i];
            unCheck.addEventListener("click", accordeonEvent)
        }
    }())
</script>
</body>
</html>