<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil equipe</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/typo_couleur.css">
    <link rel="stylesheet" href="../css/animation.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="bandeux_rouge">
    <div class="flex_header">
        <div class="title_img">
            <object data="../css/images_interfaces/logo_alchimate.svg" type="image/svg+xml"></object>
            <h1>Alchimate</h1>

        </div>
        <div class="scnd_flex_header">
            <a href="recherche_joueur_alchimate.html">Joueurs</a>
            <a href="recherche_equipe_alchimate.html">Teams</a>
        </div>
        <div class="third_flex_header">
            <div class="message_recus">
                <object data="../css/images_interfaces/mail.svg" type="image/svg+xml"></object>
            </div>
            <div class="config_perso">
                <img src="../css/images_interfaces/avatar.png" alt="Photo de profil" class="profil_img">
                <p class="nom_joueur">Nom du joueur</p>
                <object data="../css/images_interfaces/arrow_down.svg" type="image/svg+xml"></object>
            </div>
        </div>
    </div>
</header>
<main class="profil_joueur">
    <p>Équipe > League Of Legend > Profil</p>
    <h2 class="profil">Team</h2>
    <div class="flex_info_first_joueur">
        <div class="info_first_player">
            <h1 class="joueur_name">Éclypsia</h1>
            <img src="../css/images_interfaces/avatar.png" alt="Avatar">
        </div>
        <div class="lien_joueur">
            <a href="#" class="contact_joueur">
                <button>Contacter cette team</button>
            </a>
        </div>
    </div>
    <aside class="cadre_info_joueur">
        <div class="mosaique_profil_joueur">
            <div class="left_content">
                <div class="flex_cadre_info">
                    <p>Composé de X membres</p>
                    <p>Jeu favori</p>
                    <p>Basée en </p>
                    <div class="recrutement_verif">
                        <p>Recrutement</p>
                        <img src="#" alt="">
                    </div>
                    <div class="graduate_player">
                        <p>évalutation</p>
                        <img src="#" alt="#">
                    </div>
                </div>
                <div class="pub_content">
                </div>
            </div>
            <div class="right_content">
                <div class="flex_info_scnd_player">
                    <h2 class="description">Description</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores beatae corporis
                        cupiditate dignissimos distinctio dolorem dolores eaque enim eos eveniet ex ipsum laudantium
                        minima nam neque officia provident quam, quis quisquam recusandae reiciendis rem saepe sint sunt
                        tempore voluptas. Accusantium adipisci, animi consectetur corporis culpa dignissimos eligendi
                        id, illum ipsa laboriosam, magni nisi perspiciatis quaerat temporibus ullam. A aliquam assumenda
                        at consectetur deleniti deserunt dicta ea eligendi est excepturi expedita fuga incidunt
                        inventore iure magnam molestias nesciunt non omnis perferendis praesentium, sint tempore tenetur
                        ut veniam voluptatem? Amet aperiam asperiores, blanditiis culpa dicta dolore earum esse hic
                        magni maiores, neque nobis nulla obcaecati placeat quae qui quia quibusdam quo repudiandae rerum
                        sequi temporibus voluptas voluptatibus! Dolore nihil soluta tempora! Aliquam aliquid aperiam
                        assumenda atque autem blanditiis consequatur corporis deleniti deserunt dicta dolorem dolorum
                        eveniet ex excepturi explicabo facere facilis fugiat illum incidunt labore mollitia nisi
                        obcaecati omnis pariatur quae quam quasi quia reiciendis repellendus saepe similique sit soluta
                        tenetur velit, vero voluptas, voluptatem? Accusantium architecto autem dolore eveniet fuga hic
                        nemo quia ratione sed. Assumenda qui tempora veritatis! A aut autem cupiditate enim impedit ipsa
                        ipsam maxime minima molestias, nemo nesciunt, officiis rem sit vel veritatis voluptate
                        voluptates. Commodi distinctio dolorem eaque expedita, facilis id, iste iure laborum libero
                        nostrum placeat porro quas quidem reprehenderit ut. Assumenda autem commodi dicta dolorem facere
                        natus nesciunt vero. Fugit, quod, velit. Accusantium aspernatur commodi eius facere harum
                        maiores placeat possimus recusandae? A ad adipisci aperiam at, atque aut autem blanditiis
                        consequatur cum cumque dicta dignissimos ea eius esse eum ex facilis fuga fugit id ipsa ipsum
                        labore nemo nisi nostrum nulla officia officiis pariatur quae quas quasi, quos ratione rem
                        repudiandae rerum sequi tempore voluptate. Amet at corporis ea, eveniet exercitationem magni
                        minus modi neque non pariatur possimus suscipit ullam vero, voluptates.</p>
                    <h2>Condtions de recrutement</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque esse expedita molestiae temporibus. Fugit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae corporis fugiat perferendis rem repudiandae.</li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
</main>
<footer>
    <div class="container_all">
        <div class="under_name">
            <object data="../css/images_interfaces/logo_alchimate.svg" type="image/svg+xml"></object>
            <h1>Alchimate</h1>
        </div>
        <div class="custom_request">
            <a href="#">Messagerie</a>
            <a href="#">Édite ton profil</a>
            <a href="#">Soumets un jeu</a>
            <a href="mailto:alchimate@gmail.com">Contact le support</a>
        </div>
    </div>
</footer>
</body>
</html>