<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Recherche des équipes avec Alchimate</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/typo_couleur.css">
    <link rel="stylesheet" href="../css/animation.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="bandeux_rouge">
    <div class="flex_header">
        <div class="title_img">
            <object data="../css/images_interfaces/logo_alchimate.svg" type="image/svg+xml"></object>
            <h1>Alchimate</h1>

        </div>
        <div class="scnd_flex_header">
            <a href="recherche_joueur_alchimate.html">Joueurs</a>
            <a href="recherche_equipe_alchimate.html">Teams</a>
        </div>
        <div class="third_flex_header">
            <div class="message_recus">
                <object data="../css/images_interfaces/mail.svg" type="image/svg+xml"></object>
            </div>
            <div class="config_perso">
                <img src="../css/images_interfaces/avatar.png" alt="Photo de profil" class="profil_img">
                <p class="nom_joueur">Nom du joueur</p>
                <object data="../css/images_interfaces/arrow_down.svg" type="image/svg+xml"></object>
            </div>
        </div>
    </div>
</header>
<main class="main_recherche_joueur">
    <h1>Sur quel jeu veux-tu rechercher une équipe ?</h1>
    <div class="flex_main_jeux_recherche">
        <div class="flex_lol">
            <a href="recherche_joueur_lol.html"><img src="../css/images_contenu/logo_lol.png" alt="League Of Legend"></a>
            <p>League Of Legend</p>
        </div>
        <div class="flex_ow">
            <img src="../css/images_contenu/logo_ow.png" alt="Overwatch">
            <p>Overwatch</p>
        </div>
        <div class="flex_rocket">
            <img src="../css/images_contenu/logo_rocketl.png" alt="Rocket League">
            <p>Rocket League</p>
        </div>
        <div class="flex_fortnite">
            <img src="../css/images_contenu/logo_fortnite.png" alt="Fortnite">
            <p>Fortnite</p>
        </div>
        <div class="flex_csgo">
            <img src="../css/images_contenu/logo_csgo.png" alt="Counter Strike : Global Offensive">
            <p>Counter Strike : Global Offensive</p>
        </div>
        <div class="flex_r6s">
            <img src="../css/images_contenu/logo_rainbow6.png" alt="Tom Clancy's : Rainbow Six Siege">
            <p>Tom clancy's : Rainbow Six Siege</p>
        </div>
    </div>
</main>
</body>
</html>