body{
    margin: 0;
}
header.big_header{
    height: 100px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15px;
}
.flex_header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.title_img{
    position: relative;
    display: flex;
    align-items: center;
}
.big_header .title_img>object{
    width: 75px;
    height: auto;
}
.title_img h1{
     display: inline-block;
    margin: 0;
 }
.bouton_header button{
    background-color: #1e85e9;
    border: none;
    border-radius: 38px;
    width: 200px;
    height: 50px;
    color: white;
}

/* Contenu css pour la page d'inscription */
main{
    margin-left: 10%;
    margin-right: 10%;
}
.flex_main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 100px;
    height: 65vh;
}
.info_main{
    width: 48%;
}
.flex_jeu_main img{
    width: 10%;
    height: 10%;
}
.flex_jeu_main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 125px;
}
.formulaire_main{
    width: 40%;
}
.inscription{
    height:80% ;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.formulaire_main input{
    color: #4F4F4F;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-weight: 300;
    padding: 15px 5px;
    border:none;
    border-bottom: solid 1px;
    height: auto;
}
label{
    display: inline-block;
}
.checkbox input{
    display: none;
}
.checkbox .colorized{
    background-color: #fff;
    border: 1px solid #95989A;
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 19px;
    position: relative;
}
input:checked + .colorized:after{
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #1E85E9;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 15px;
}
button.inscription{
    background-color: #1e85e9;
    border: none;
    border-radius: 38px;
    width: 200px;
    height: 50px;
    color: white;
    position: absolute;
    top: 90%;
    right: 10%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-left: 57px;
}
/* Contenu css pour la page connexion */

.flex_main_connexion{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
main.connexion{
    height: 70vh;
}
.flex_main_connexion{
    height: 70vh;
}

button.connexion{
    background-color: #1e85e9;
    border: none;
    border-radius: 38px;
    width: 200px;
    height: 50px;
    color: white;
}

/* style pour la page information joueur */

.main_flex_info_joueur{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.pseudo{
    margin-top: 25px;
    margin-left: 50px;
    display: block;
}
.jeux{
    width:100%;
    height:50px;
    overflow: hidden;
}
.critere{
    margin-left: 50px;
    margin-top: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.role{
    width: 48%;
    height: 175px;
    display: flex;
    flex-flow: row wrap;

}
.flex_game{
    margin-left: 25px;
}
.role_ingame_form{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
.flex_game>label{
    margin-left: 20px;
}
.division{
    width: 48%;
    height: 355px;
    display: flex;
    flex-flow: row wrap;
}
.csgo .flex_game{
    width: 48%;
    height: 350px;
    display: flex;
    flex-flow: row wrap;
}
.grandeur_sup{
    height: 500px;
}
.grandeur_inf{
    height: 50px;
}

/* style pour la page recherche de joueur et équipe*/

header.bandeux_rouge{
    background: linear-gradient(to right, #cb2d3e, #ef473a);
    height: 50px;
    color: #FFF;
    padding-left: 10%;
    padding-right: 10%;
}
.bandeux_rouge .flex_header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /*width: 400px;*/
}
.title_img{
    position: relative;
    display: flex;
    align-items: center;
}
.bandeux_rouge .title_img>object{
    width: 45px;
    height: auto;
}
.title_img h1{
    display: inline-block;
    margin: 0;
}
.scnd_flex_header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}
.third_flex_header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 440px;
}

.config_perso{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 390px;
}

.third_flex_header object{
    width: 25px;
    height: auto;
}
.flex_main_jeux_recherche{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.flex_lol{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 13%;
}
.flex_ow{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 13%;
}
.flex_rocket{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 13%;
}
.flex_fortnite{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 13%;
}
.flex_csgo{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 13%;
}
.flex_r6s{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 13%;
}
.main_recherche_joueur h1{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 115px;
}
.main_recherche_joueur h1:after{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-color: #1E85E9;
    position: absolute;
    top: 350px;
    left: 50%;
    border-radius: 25px;
}
/* Style du footer */
footer{
    height: 100px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15px;
}
.under_name{
    position: relative;
    display: flex;
    align-items: center;
}
.under_name>object{
    width: 45px;
    height: auto;
}
.under_name h1{
    display: inline-block;
    margin: 0;
}
.custom_request{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.container_all{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #EF473A;
    padding-top: 15px;
}
.jeu_logo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}
.flex_title_lol{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.flex_title_lol h1>span{
    display: block;
}

/* Style du tableau de recherche de joueur */

aside.filtre_recherche{
    width: 23%;
    background: linear-gradient(to right, #cb2d3e, #ef473a);
    padding: 20px;
}
.role_filtre{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 130px;
}
.division_filtre{
    width: 95%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: start;
    height: 165px;
}
.sexe_filtre{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.age_filtre{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.tableau_joueur{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
}
.resultat_recherche{
    width: 77%;
}
.filtre_recherche{
    color: #FFFFFF;
}
.filtre_recherche label{
    color: #FFFFFF;
}
.filtre_recherche input:nth-child(1){
    border: 1px solid #95989A;
    border-radius: 15px;
}
/* style page de profil */
.info_first_player{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}
.filtre_recherche select{
    border: 1px solid #95989A;
    border-radius: 31px;
}
.info_first_player img{
    width: 150px;
    height: auto;
}
.lien_joueur{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.flex_info_first_joueur{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.left_content{
    width: 20%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: left;
}
.flex_cadre_info{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #cb2d3e, #ef473a);
    padding: 20px 0px;
    width: 100%;
    height: auto;
    color: #FFF;
}
.graduate_player{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
.pub_content{
    width: 100%;
    height: 400px;
    border: 1px solid  #AEAEAE;
    margin-top: 50px;
}
.right_content{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: left;
    width: 75%;
}
.jeux_division_post{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    background: linear-gradient(to right, #cb2d3e, #ef473a);
    border-radius: 38px;
    color: #FFF;
}
.profil_img{
    width: 15%;
    height:auto;
}
.link_modif{
    width: 12%;
    margin-top: 5px;
}
.jeux_division_post img{
    width: 50px;
    height: auto;
}
.flex_division_info{
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    height: 85px;
}
.flex_division_info p{
    margin: 0;
}
.flex_division_info p:nth-child(1){
    margin-top: 5px;
}
.flex_division_info p:nth-child(3){
    margin-bottom: 5px;
}
.avis_profil{
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    border-left: 2px solid #95989A;
    padding-left: 50px;
}
.mosaique_profil_joueur{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
}
.recrutement_verif{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
}

/* style pour la page contact */

.send_objectif{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: start;
}
.send_button{
position: absolute;
    top: 80%;
    right: 10%;
}
.contact h1{
    margin-top: 50px;
}
.contact h1:after{
    content: '';
    margin-top: 115px;
    position: absolute;
    left: 10%;
    width: 17%;
    height: 1%;
    background-color: #EF473A;
}
.send_objectif input{
    margin-bottom: 50px;
    width: 80%;
    border: 1px solid   #95989A;
    border-radius: 15px;
    height: 75px;
}
.send_objectif input:nth-child(1){
    margin-top: 50px;
}
.contact button{
    background-color: #1e85e9;
    border: none;
    border-radius: 38px;
    width: 200px;
    height: 50px;
    color: white;
}
.retour_site_button button{
    background-color: #1e85e9;
    border: none;
    border-radius: 38px;
    width: 250px;
    height: 50px;
    color: white;
}
/* style page modification du profil */
.flex_info_perso{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: start;
}
.flex_jeu_perso{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.modification_perso{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
}
.flex_info_perso input{
    border: none;
    border-bottom: 1px solid #95989A;
}
.flex_info_perso select{
    border: 1px solid #95989A;
    border-radius: 31px;
}
.flex_info_perso label{
    margin-bottom: 15px;
    margin-left: 75px;
}
.bio_player_modif>input{
    border: 1px solid #95989A;
    width: 100%;
}
.bio_player_modif{
    width: 100%;
}
.jeu_perso_modif{
    width: 45%;
}
.flex_info_perso_2{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.flex_label_modif{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.info_perso_joueur{
    width: 40%;
}
.contact_joueur button{
    background-color: #1e85e9;
    border: none;
    border-radius: 38px;
    height: 50px;
    color: white;
}
.reduc img{
    width: 30px;
    height: auto;
    display: block;
    margin: auto auto;
    padding-top: 14px;
}
.reduc{
    background-color: #1e85e9;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    color: white;
}
.modif_jeu_bouton{
    background-color: #1e85e9;
    border: none;
    border-radius: 38px;
    width: 150px;
    height: 40px;
    color: white;
    margin-top: 50px;
    position: absolute;
    right: 27%;
}
.description_title{
    margin-top: 80px;
}
/*  style page d'équipe */
.flex_info_scnd_player{
    margin-top: 25px;
}

/* style carte */
.scnd_part_card{
    border-radius: 37px;
    box-shadow: 0 15px 71px -15px rgba(148,148,148,0.6);
    width:280px;
    height: 450px;
    margin: 0px 20px;

}
.first_part_card{
    background: linear-gradient(to right, #cb2d3e, #ef473a);
    border-radius: 37px;
    height:85%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.first_part_card img{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: 2px solid white;
}
.first_part_card .card_name{
    color: white;
    font-size: 35px;
    font-family: 'P22 Johnston Underground', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
}
.first_part_card .card_niveau{
    color: white;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}
.first_part_card .card_poste{
    color: white;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
.scnd_part_card a{
    text-decoration: none;
}
.flex_img_jeu_card{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}
.flex_img_jeu_card img{
    width: 30px;
    height: auto;
}
.flex_card{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.avatar{
    border-radius: 100px;
}
.blue-btn{
    border: none;
    background-color: #1E85E9;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    margin-top: 5px;
    font-family: 'Work Sans', sans-serif;
}
.avatar-header{
    border-radius: 60px;
    width: 45px;
    height:auto;
}
form.connexion{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
.design_input{
    border: none;
    border-bottom: 1px solid #95989A;
}
.input_champ{
    width: 500px;
    border: none;
    border-bottom: 1px solid #95989A;
    margin-right: 25px;
}
.file-inputs{
    border: none;
    border-bottom: 1px solid #95989A;
}
.div_design .file-inputs{
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

}
.div_design{
    position: relative;
    border: none;
    background-color: #1E85E9;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    border: 0;
    margin-top: 5px;
    font-family: 'Work Sans', sans-serif;
    float: left;
    cursor: pointer;
}
.form_no{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.flex_last_day{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 130px;
}
.flex_level_last{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.blue-btn_big{
    border: none;
    background-color: #1E85E9;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    margin-top: 5px;
    font-family: 'Work Sans', sans-serif;
    width: 200px;
    height: 50px;
}